<!DOCTYPE html>
<html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
            <title>Diabetes@Home</title>
            <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
            <link href='https://fonts.googleapis.com/css?family=Quattrocento Sans' rel='stylesheet'>
            <link rel="stylesheet" href="/css/patient/styles.css">
        </head>
    <body>
        <!-- header part-back button, title and logo img -->
        <header id="page-header">
            <div class="header">
                <h1>Diabete@Home</h1>
                <img src="/media/logo.png" alt="LOGO">          
                  <div class="Backbutton">
                    <p><a href="#back" style="color: white;text-decoration: none;">＜Back</a></p>
                   </div>
              </div>
        </header>

        <nav>
             <h1>ABOUT THIS WEBSITE</h1>
        </nav>
       

    <main>
        <!-- overview information part -->
        <section id="overview">
          <h2>WEBSITE OVERVIEW</h2>
          <p>The website has been created for diabetics and patients can access it through the mobile app port of the website. 
              In the app patients can record their daily test data and comments and upload them to clinician, 
              view their data and see how their data ranks against everyone else, 
              and also receive some support messages.

          </p>
        </section>
        <!-- bulider table -- include name and where -->
        <section id="builder">
            <h2>BUILDERS OF THIS WEBSITE</h2>
            <table>
                <tr>
                    <td>XINGTING ZONG</td>
                    <td>UNI OF MEL</td>
                </tr>
                <tr>
                    <td>QINGYING LYU</td>
                    <td>UNI OF MEL</td>
                </tr>
                <tr>
                    <td>ZIXUAN CHEN</td>
                    <td>UNI OF MEL</td>
                </tr>
                <tr>
                    <td>FEIYU LI</td>
                    <td>UNI OF MEL</td>
                </tr>
                <tr>
                    <td>YIPENG WANG</td>
                    <td>UNI OF MEL</td>
                </tr>


            </table>
        </section>

    </main>

    <footer class="WebHome">
        <!-- other information for diabetes and button to other website-->
        <h2>Need to log in to access most of the features!</h2>
        <p>More features and information are available upon login.
        </p>
        <button type="button"><a href="./login" style="color:white; text-decoration:none;">Log in</a></button>
        <h3>More information about the website <br> Click this ↓</h3>
        <a href="./aboutDiabetes"target="_blank" rel="Coeliac NSW and ACT">ABOUT DIABETES></a>

    </footer>
       
    </body>
</html>
