<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Quattrocento Sans' rel='stylesheet'>
        <title>Diabetes@Home</title>
        <link rel="stylesheet" href="/css/patient/styles.css">
    </head>
    <body>
    <header id="page-header">
        <div class="header">
            <h1>Diabete@Home</h1>
            <img src="/media/logo.png" alt="LOGO">          
              <div class="Backbutton">
                <p><a href="./home" style="color: white;text-decoration: none;">＜Back</a></p>
               </div>
          </div>
    </header>

    <nav>   
        <!-- information part - what is diabetes -->
        <h1>ABOUT DIABETES</h1>
        <h2>WHAT IS DIABETES?</h2>
        <p>Diabetes is a disease that occurs when your blood glucose, also called blood sugar, is too high. 
            <br>
            <br>
            Blood glucose is your main source of energy and comes from the food you eat. 
            Insulin, a hormone made by the pancreas, 
            helps glucose from food get into your cells to be used for energy. 
            Sometimes your body does not make enough—or any—insulin or does not use insulin well. 
            Glucose then stays in your blood and does not reach your cells.
            <br>
            <br>
            Over time, having too much glucose in your blood can cause health problems. 
            Although diabetes has no cure, you can take steps to manage your diabetes and stay healthy.  
            
        </p>
    </nav>

    <main>
        <!-- information part - dangerous and pic and video -->
        <section id="dangerous">
          <h2>DANGEROUS OF DIABETES</h2>
          <p>Long-term complications of diabetes develop gradually. 
             The longer you have diabetes — and the less controlled your blood sugar — the higher the risk of complications. Eventually, 
             diabetes complications may be disabling or even life-threatening. 
             Their impact is:
         </p>   
                <img src="/media/info.jpg" alt="effect">

            <p> Diabetes dramatically increases the risk of various cardiovascular problems, 
                including coronary artery disease with chest pain (angina), 
                heart attack, stroke and narrowing of arteries (atherosclerosis). If you have diabetes, 
                you're more likely to have heart disease or stroke. Nerve damage (neuropathy).
                <br>
                <br>
                If you have diabetes, you're more likely to have heart disease or stroke. 
                Nerve damage (neuropathy).
            </p>
            <iframe width="530" height="400" src="https://www.youtube.com/embed/55Y2Bodhl0g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


             
        </section>
        <!-- information part - how to... and pic -->
        <section id="how">
            <h2>HOW TO CURE DIABETES</h2>
            
            <p> Although there is no complete cure or medication for diabetes, 
                it can be alleviated and treated and controlled through medication and controlled diet. </p>
            <img class="cure" src="/media/cure.jpg" alt="cure">    
            <p> Some people will go into remission in the process, 
                thus reducing the suffering caused by diabetes.
            </p>
            <img class="curefood" src="/media/cure food.jpg" alt="curefood">


        </section>

        <!-- useful websites list for diabetes  -->
        <section id="usefulList">
            <h2>USEFUL WEBSITE</h2>
            <p>General Information about diabetes</p>
            <ol>
                <li><a href="https://www.diabetesaustralia.com.au/"target="_blank" rel="noopener noreferrer">Diabetes Australia></a></li>

                <li><a href="https://apeg.org.au/"target="_blank" rel="noopener noreferrer">Australasian Paediatric Endocrine Group-APEG></a></li>
               
            </ol>
            <p>For Parents and Carers</p>
            <ol>
                <li><a href="https://as1diabetes.com.au/"target="_blank" rel="noopener noreferrer">as1diabetes></a></li>
            </ol>

            <p>Diabetes Education for Health Professionals</p>
            <ol>
                <li><a href="https://www.diabetesqualified.com.au/"target="_blank" rel="noopener noreferrer">diabetesqualified></a></li>
            </ol>

            <p>Resources for Health Professionals</p>
            <ol>
                <li><a href="https://ahpa.com.au/"target="_blank" rel="noopener noreferrer">Allied Health Professionals></a></li>
            </ol>

            <p>Health Information</p>
            <ol>
                <li><a href="https://about.healthdirect.gov.au/healthdirect"target="_blank" rel="noopener noreferrer">Healthdirect Australia></a></li>
            </ol>

            <p>Diabetes research</p>
            <ol>
                <li><a href="https://www.joslin.org/"target="_blank" rel="noopener noreferrer">Joslin Diabetes Centre></a></li>
            </ol>

            <p>Healthy eating, GI, food and nutrition</p>
            <ol>
                <li><a href="http://www.glycemicindex.com/"target="_blank" rel="Coeliac NSW and ACT">Glycaemic Index></a></li>
            </ol>

             
        </section>



    </main>
    <footer class="WebHome">
        <!-- this app website and button to other website -->
        <h3>More information about the website <br> Click this ↓</h3>
        <a href="./aboutThisWebsite" rel="Coeliac NSW and ACT">ABOUT WEBSITE></a>

    </body>
</html>
