<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/doctor/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Quattrocento Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css2?family=Scada&display=swap' rel='stylesheet'>
    <title>Diabetes@Home</title>
</head>
<body>
    <div class="header">
        <p><a href="/doctor/">
        <img src="/media/logo.png" alt="LOGO">
        </a></p>
        <nav>
            <ul>
            <li><a href="#">New Patient</a></li>
            <li><a href="#">Comments</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </nav>
      </div>

    <div class="newPatientInfo">
        <form action="#" method="post">
            
                <legend>New Patient Information</legend>
                First Name: <input type="text" name="first_name" placeholder="Enter patient's fisrt name" required><br>
                Last Name: <input type="text" name="last_name" placeholder="Enter patient's last name"><br>
                Gender:<input type="radio" name="gender" value="Male" required>Male
                <input type="radio" name="gender" value="Female">Female
                <input type="radio" name="gender" value="Other">Other<br>
                <input type="checkbox" id="blood_glucose_level" name="blood_glucose_level"><label for="blood_glucose_level"> blood glucose level range</label>
                <input type="checkbox" id="weight" name="weight"><label for="weight"> weight</label>
                <input type="checkbox" id="dose_of_insulin_taken" name="dose_of_insulin_taken"><label for="dose_of_insulin_taken"> dose of insulin taken</label>
                <input type="checkbox" id="exercise" name="exercise"><label for="exercise"> exercise</label><br>
                Blood glucose level range: <input type="number" class="number" name="blood_glucose_level_minimum">~<input type="number" class="number" name="blood_glucose_level_maximum"><br>
                Weight range: <input type="number" class="number" name="weight_minimum">~<input type="number" class="number" name="weight_maximum"><br>
                Dose of insulin taken range: <input type="number" class="number" name="doses_of_insulin_taken_minimum">~<input type="number" class="number" name="doses_of_insulin_taken_maximum"><br>
                Exercise range: <input type="number" class="number" name="exercise_minimum">~<input type="number" class="number" name="exercise_maximum"><br>
                {{#if repeat}}<p style="color: red;">Username already taken</p>{{/if}}
                Username: <input type="text" class="text" name="username" placeholder="Set a username for patient" required><br>
                Password: <input type="text" class="text" name="password" placeholder="Set a password for patient" required><br>
                Secret Code (for change password): <input type="text" class="text" name="secret" placeholder="Set a password for patient" required><br>
                <input type="submit" class="submitbutton"value="SUBMIT">
                <input type="button" class="cancelbutton" value="CANCEL">
                
                
        </form>
    </div>


          
</body>
</html>