<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Quattrocento Sans' rel='stylesheet'>
        <title>Diabetes@Home</title>
        <link rel="stylesheet" href="/css/patient/styles.css">
    </head>
    <body class="ui-long-content">

        <div class="header2">
            <h1>Diabete@Home</h1>
            <img src="/media/logo.png" alt="LOGO">          
              <div class="Backbutton">
                <p><a href="/patient/dashboard" style="color: white;text-decoration: none;">＜Back</a></p>
               </div>
          </div>

        <!-- name of daily record page -->
          <div class="row">     
            <div class="content4">
              <h2>DAILY RECORD</h2>
          </div>
            <!-- this can let patient choose any date -->
            <div class="date">
                <form action="">
                <p>Date:<input type="date" /></p>
                </form>
            </div>

          <!-- patients can enter four data in this page -->
          <div class="records">
              <form action="" method="post">
                <ul class="recorddata">
                  
                    <li class="bglInput">
                      <h3>blood glucose level:</h3><!-- here to entrer the blood glucose level -->
                      <input type="number" name="blood_glucose_level" min="0" step="0.1" style= "text-align: center;"><span>nmol/L</span>
                      
                      <p>comment(optional)</p>
                      <textarea name="blood_glucose_level_commment"></textarea>
                   </li>
                  
                  
                    <li class="weightInput">
                      <h3>weight:</h3><!-- here to enter the weight -->
                      <input type="number" name="weight" min="0" step="0.01"><span>kg</span>
                      <p>comment(optional)</p>
                      <textarea name="weight_commment"></textarea>
                    </li>
                  
                  <hr>
                  
                    <li class="dosesInput">
                      <h3>doses of insulin taken:</h3><!-- here to choose the numbver of doses patient taken -->
                      <select name="doses_of_insulin_taken">
                          <option value="0">0</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select><span>doses</span>
                      <p>comment(optional)</p>
                      <textarea name="doses_of_insulin_taken_commment"></textarea>
                   </li>
                  
                    <li class="exerciseInput">
                      <h3>exercise:</h3><!-- here to enter exercise -->
                      <input type="number" name="exercise" min="0"><span>steps</span>
                      <p>comment(optional)</p>
                      <textarea name="exercise_commment"></textarea>
                    </li>
                    <div class="subline">
                      <input class="submitbutton" type="submit" value="submit"></a>
                    </div>
                    
                  
                </ul>
            </div>


           </form>
           </div>
            
          </div>
          </div>

        <footer class="ui-footer">
          <HR align=center width=100% color=#7B7B7B SIZE=1>

          
      <footer class="ui-footer">
            <hr align=center width=100% color=#7B7B7B SIZE=1>
           <div class="downnav">
            <p style="text-align: center;">
               <img src="/media/home.png" alt="Home" width="30%" height="30%"> 
            </p>

            <p style="text-align: center;">
               <img src="/media/message.png" alt="Home" width="30%" height="30%">
            </p>


            <p style="text-align: center;">
               <img src="/media/more.png" alt="Home" width="30%" height="30%">
            </p>

          
          <a href="/patient/dashboard">HOME</a>
          <a href="#">SUPPORT MASSAGE</a>
          <a href="#">MORE</a>
          </div>
        </div>
    </footer>

                  
    </body>
    </html>
