<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Quattrocento Sans' rel='stylesheet'>
        <title>Diabetes@Home</title>
        <link rel="stylesheet" href="/css/patient/styles.css">
    </head>
    <body class="ui-long-content">

        <div class="header2">
            <h1>Diabete@Home</h1>
            <img src="/media/logo.png" alt="LOGO">          
            <div class="Backbutton">
                <p><a href="/patient/dashboard" style="color: white;text-decoration: none;">＜Back</a></p>
            </div>
        </div>

        <!-- name of daily record page -->
          <div class="row">     
            <div class="content4">
              <h2>DAILY RECORD</h2>
          </div>

          <form action="" method="post">
            {{#if patient.need_blood_glucose_level}}  
            <div class="patientadd">
                <div class="patientadd-a">
                    <span>blood glucose level:</span>
                    <div class="datadata">
                        <input type="number" name="blood_glucose_level" min="0" step="0.1">
                        <span>nmol/L</span>
                    </div>
                </div>
                <div class="button0">
                    <span>comment(optional):</span>
                    <textarea name="" id="" cols="10" rows="18" v-model="xin"></textarea>
                </div>
            </div>
            {{/if}}
            
            {{#if patient.need_weight}}
            <div class="patientadd">
                <div class="patientadd-a">
                    <span>weight:</span>
                    <div class="datadata">
                        <input type="number" name="weight" min="0" step="0.01">
                        <span>kg</span>
                    </div>
                </div>
                <div class="button0">
                    <span>comment(optional):</span>
                    <textarea name="" id="" cols="10" rows="18" v-model="xin"></textarea>
                </div>
            </div>
            {{/if}}

            {{#if patient.need_doses_of_insulin_taken}}
            <div class="patientadd">
                <div class="patientadd-a">
                    <span>doses of insulin taken:</span>
                    <div class="datadata">
                        <input type="number" name="doses" min="0">
                        <span>doses</span>
                    </div>
                </div>
                <div class="button0">
                    <span>comment(optional):</span>
                    <textarea name="" id="" cols="10" rows="18" v-model="xin"></textarea>
                </div>
            </div>
            {{/if}}
            
            {{#if patient.need_exercise}}
            <div class="patientadd">
                <div class="patientadd-a">
                    <span>exercise:</span>
                    <div class="datadata">
                        <input type="number" name="exercise" min="0">
                        <span>steps</span>
                    </div>
                </div>
                <div class="button0">
                    <span>comment(optional):</span>
                    <textarea name="" id="" cols="10" rows="18"></textarea>
                </div>
            </div>
            {{/if}}
            
            <div class="submit-a">
                <button>Save</button>
                <button>Submit</button>
            </div>

        <footer class="ui-footer">
          <HR align=center width=100% color=#7B7B7B SIZE=1>

          
      <footer class="ui-footer">
            <hr align=center width=100% color=#7B7B7B SIZE=1>
           <div class="downnav">
            <p style="text-align: center;">
               <img src="/media/home.png" alt="Home" width="30%" height="30%"> 
            </p>

            <p style="text-align: center;">
               <img src="/media/message.png" alt="Home" width="30%" height="30%">
            </p>


            <p style="text-align: center;">
               <img src="/media/more.png" alt="Home" width="30%" height="30%">
            </p>

          
          <a href="/patient/dashboard">HOME</a>
          <a href="#">SUPPORT MASSAGE</a>
          <a href="#">MORE</a>
          </div>
        </div>
    </footer>

                  
    </body>
    </html>
