<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Quattrocento Sans' rel='stylesheet'>
        <title>Diabetes@Home</title>
        <link rel="stylesheet" href="/css/patient/styles.css">
    </head>


    <div class="header2">   <!-- header part and logo -->
        <h1>Diabete@Home</h1>
        <img src="/media/logo.png" alt="LOGO">
        <div class="Backbutton">
            <p><a href="./dashboard" style="color: white;text-decoration: none;">＜Back</a></p>
           </div>
      </div>
</head>

  <body class="ui-content">
    <div class="EnterSecurityInfoTitle"> <!-- the title for this page -->
        <h1>Enter Your Security Infomation</h1>
    </div>

        <div class="SecInputBox">  <!-- user can input user name in this box -->
            <form action="demo_form.php">
                <div class="UserNamePart">
                     <p>UserName</p>
                <input class="UserName" type="text" name="fname" placeholder="Enter your UserName..." required autofocus><br>
                </div>
                <div class="NewPasswordPart">
                    <p>New Password</p>
                <input class="NewPassword" type="password" name="fname" placeholder="Enter your new password..." required autofocus><br>
                </div>
                <div class="SecretCodePart">
                    <p>Secret Code</p>
                <input class="SecretCode" type="password" name="fname" placeholder="Enter your Secret code..." required autofocus><br>
                </div>
                <div class="SecConfirmButton">
                    <button type="submit">Submit</button>
                </div>
              </form>
        </div>
    </div>

  </body>

    <footerclass="ui-footer">  <!-- the menu - it has go home button, go message page button, go more page button -->
    <HR align=center width=100% color=#7B7B7B SIZE=1>
            <div class="downnav">
            <p style="text-align: center;">
                <img src="/media/home.png" alt="Home" width="30%" height="30%"> 
            </p>

            <p style="text-align: center;">
                <img src="/media/message.png" alt="Home" width="30%" height="30%">
            </p>


            <p style="text-align: center;">
                <img src="/media/more.png" alt="Home" width="30%" height="30%">
            </p>

        <a href="/patient/dashboard">HOME</a>
        <a href="#">SUPPORT MASSAGE</a>
        <a href="#">MORE</a>
    </footer>
</html>