<!DOCTYPE html>
<html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
            <title>Diabetes@Home</title>
            <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
            <link href='https://fonts.googleapis.com/css?family=Quattrocento Sans' rel='stylesheet'>
            <link rel="stylesheet" href="/css/patient/styles.css">
        </head>
    <body id="homepage">

        <header>
        
        </header>
            <!-- big logo in this page -->
        <main class="home">
            <div class="homelogo">
            <img src="/media/logo.png" alt="LOGO" style="
            width: 45vw;
            height: 45vw; 
            padding: 5px 0px;
            padding-top: 10vw;
            margin: 0 auto;">  
            </div>

            <div class="HomePagebuttonGroup">
                <ul class="homePagebutton"> 
                    <!-- about diabetes button -->
                  <li class="homePagebutton1"><a href="./aboutDiabetes"class="button"><span>ABOUT DIABETES</span></a></li>
                  <br>
                    <!-- about this website button -->
                  <li class="homebutton2"><a href="./aboutThisWebsite"class="button"><span>ABOUT THIS WEBSITE</span></a></li>
                  <br>
              </ul>
            </div>
            <!-- login button -->
            <div class="login">
                <a href="./login"class="button"><span>LOGIN</span></a>
            </div>
        </main>

        <footer class="homefooter">
            <div class="footerName">
                <h1>Diabete@Home</h1>
            </div>
        </footer>
    </body>