<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Quattrocento Sans' rel='stylesheet'>
        <title>Diabetes@Home</title>
        <link rel="stylesheet" href="/css/patient/styles.css">
</head>
      
        <div class="header2">  <!-- header part and logo img -->
            <h1>Diabete@Home</h1>
            <img src="/media/logo.png" alt="LOGO">          
              <div class="Backbutton">
                <p><a href="/patient/dashboard" style="color: white;text-decoration: none;">＜Back</a></p>
               </div>
          </div>
</head>
<body class="ui-long-content">
          
          <div class="row">     
              <div class="content4">  <!-- main part in this page -->
                <h2>HEALTH LEADERBOARD</h2> 
          </div>
          <div class="bnner">
            <span class="content">“Never give up, for that is just the place
                and time that the tide will turn."</span>
            <span class="time">- Harriet Beecher Stowe</span>
        </div>
        <div class="rank">
            <div class="left">
                <span class="one">1st</span>
                <div class="mm">
                    <img src="/media/UserLogo.png" alt="">
                    <span class="two">STARRR</span>
                </div>
               
            </div>
            <div class="right">
                <!-- <span :class="{num:index<3}">{{item.Number}}</span> -->
                <span class="num" id="nu-a">100%</span>
            </div>
        </div>
        <div class="rank">
            <div class="left">
                <span class="one">2nd</span>
                <div class="mm">
                    <img src="/media/UserLogo.png" alt="">
                    <span class="two">BOAT</span>
                </div>
               
            </div>
            <div class="right">
                <span class="num" id="nu-b">98%</span>
            </div>
        </div>
        <div class="rank">
            <div class="left">
                <span class="one">3rd</span>
                <div class="mm">
                    <img src="/media/UserLogo.png" alt="">
                    <span class="two">PABBIT</span>
                </div>
               
            </div>
            <div class="right">
                <span class="num" id="nu-c">95%</span>
            </div>
        </div>
        <div class="rank">
            <div class="left">
                <span class="one">4th</span>
                <div class="mm">
                    <img src="/media/UserLogo.png" alt="">
                    <span class="two">SEA</span>
                </div>
               
            </div>
            <div class="right">
                <span class="num">92%</span>
            </div>
        </div>
        <div class="rank">
            <div class="left">
                <span class="one">5th</span>
                <div class="mm">
                    <img src="/media/UserLogo.png" alt="">
                    <span class="two">Pat</span>
                </div>
               
            </div>
            <div class="right">
                <span class="num">90%</span>
            </div>
        </div>
        <div class="rank">
            <div class="left">
                <span class="one">6th</span>
                <div class="mm">
                    <img src="/media/UserLogo.png" alt="">
                    <span class="two">Amy</span>
                </div>
               
            </div>
            <div class="right">
                <span class="num">89%</span>
            </div>
        </div>
        <div class="rank">
            <div class="left">
                <span class="one">7th</span>
                <div class="mm">
                    <img src="/media/UserLogo.png" alt="">
                    <span class="two">Bill</span>
                </div>
               
            </div>
            <div class="right">
                <span class="num">88%</span>
            </div>
        </div>
        <div class="rank">
            <div class="left">
                <span class="one">8th</span>
                <div class="mm">
                    <img src="/media/UserLogo.png" alt="">
                    <span class="two">Cindy</span>
                </div>
               
            </div>
            <div class="right">
                <span class="num">85%</span>
            </div>
        </div>
        <div class="rank">
            <div class="left">
                <span class="one">9th</span>
                <div class="mm">
                    <img src="/media/UserLogo.png" alt="">
                    <span class="two">David</span>
                </div>
               
            </div>
            <div class="right">
                <span class="num">84%</span>
            </div>
        </div>
        <div class="rank">
            <div class="left">
                <span class="one">10th</span>
                <div class="mm">
                    <img src="/media/UserLogo.png" alt="">
                    <span class="two">Emily</span>
                </div>
               
            </div>
            <div class="right">
                <span class="num">82%</span>
            </div>
        </div>
    
        <div class="to">
            <div class="ranks">
            <div class="rank">
                <div class="left">
                    <span class="one">18th</span>
                    <div class="mm">
                        <img src="/media/UserLogo.png" alt="">
                        <span class="two">HELLOWORLD</span>
                    </div>
                   
                </div>
                <div class="right">
                    <span>50%</span>
                </div>
            </div>
        </div>
        </div>

</body>

<footer class="ui-footer">
    <HR align=center width=100% color=#7B7B7B SIZE=1> <!-- Dividing Line -->
  
  <div class="downnav">  <!-- button list in the menu -->
    <p style="text-align: center;">
        <img src="/media/home.png" alt="Home" width="30%" height="30%">
    </p>
    <p style="text-align: center;">
          <img src="/media/message.png" alt="Home" width="30%" height="30%">
    </p>
    <p style="text-align: center;">
          <img src="/media/more.png" alt="Home" width="30%" height="30%">
    </p>
    <a href="/patient/dashboard">HOME</a> <!-- back to main home page -->
    <a href="#">SUPPORT MASSAGE</a>
    <a href="#">MORE</a>
  </div>
</footer>
</html>