<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Quattrocento Sans' rel='stylesheet'>
        <title>Diabetes@Home</title>
        <link rel="stylesheet" href="/css/patient/styles.css">
    </head>
    <body class="ui-long-content">

        <div class="header2">
            <h1>Diabete@Home</h1>
            <img src="/media/logo.png" alt="LOGO">          
              <div class="Backbutton">
                <p><a href="/patient/dashboard" style="color: white;text-decoration: none;">＜Back</a></p>
               </div>
          </div>

        <!-- name of leaderboard page -->
          <div class="row">     
            <div class="content4">
              <h2>LEADERBOARD</h2>
          </div>
          <!--encouraging words -->
          <div class="bnner">
            <span class="contentA">“Never give up, for that is just the place
                and time that the tide will turn."</span>
            <span class="time">- Harriet Beecher Stowe</span>
        </div>
        <!-- ranking format -->
        {{#each engagements}}
        <div class="rank">
            <div class="left">
                <span class="one"></span>
                <div class="mm">
                    <img src="../media/UserLogo.png" alt="">
                    <span class="two">{{this.patient.first_name}}</span>
                </div>
               
            </div>
            <div class="right">
                <span class="num" id="nu-a">{{this.engagement_rate}}%</span>
            </div>
        </div>
        {{/each}}
        <div class="rank">
            <div class="left">
                <span class="one">&nbsp&nbsp</span>
                <div class="mm">
                    <span class="two">&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                </div>
               
            </div>
            <div class="right">
                <span class="num" id="nu-a">&nbsp&nbsp&nbsp&nbsp&nbsp</span>
            </div>
        </div>
        <div class="rank">
            <div class="left">
                <span class="one">&nbsp&nbsp</span>
                <div class="mm">
                    <span class="two">&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                </div>
               
            </div>
            <div class="right">
                <span class="num" id="nu-a">&nbsp&nbsp&nbsp&nbsp&nbsp</span>
            </div>
        </div>
    
        <div class="to">
            <div class="ranks">
            <div class="rank">
                <div class="left">
                    <span class="one"></span>
                    <div class="mm">
                        <img src="../media/UserLogo.png" alt="">
                        <span class="two">{{own_engagement.patient.first_name}}</span>
                    </div>
                   
                </div>
                <div class="right">
                    <span>{{own_engagement.engagement_rate}}%</span>
                </div>
            </div>
        </div>
        </div>

</body>

<footer class="ui-footer">
    <HR align=center width=100% color=#7B7B7B SIZE=1> <!-- Dividing Line -->
  
  <div class="downnav">  <!-- button list in the menu -->
    <p style="text-align: center;">
    </p>
    <p style="text-align: center;">
          <img src="/media/message.png" alt="Home" width="30%" height="30%">
    </p>
    <p style="text-align: center;">
          <img src="/media/more.png" alt="Home" width="30%" height="30%">
    </p>
    <a href="./dashboard">HOME</a> <!-- back to main home page -->
    <a href="./supportMessage">SUPPORT MASSAGE</a><!-- go to support message page -->
    <a href="./more">MORE</a><!-- Go to more page -->
  </div>
</footer>
</html>