<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Quattrocento Sans' rel='stylesheet'>
        <title>Diabetes@Home</title>
        <link rel="stylesheet" href="/css/patient/styles.css">
    </head>


    <div class="header2">   <!-- header part and logo -->
        <h1>Diabete@Home</h1>
        <img src="/media/logo.png" alt="LOGO" >
        <div class="Backbutton">
            <p><a href="#" style="color: white;text-decoration: none;">＜Back</a></p>
           </div>
      </div>
</head>

  <body class="ui-content">
      <div class="row">
        <div class="PersonalInfor">
        <div class="card">
            <div class="UserPart">   <!-- it's about user's logo & name in this part -->
                  <div class="UserLogo">
                  <img src="/media/UserLogo.png" alt="Pic">
        </div>
        <h2>{{patient.first_name}} {{patient.last_name}}<!-- userName --></h2>
      </div>
      <HR class="bigDisappearhr" align=center width=100% color=#E5E5E5 SIZE=10>
        <div style="margin:30vw 30vw;">
        </div>
      <HR class="bigDisappearhr" align=center width=100% color=#E5E5E5 SIZE=10>
      <div class="rightcolumn">
        <div class="WebInfor">
          <h2>Information</h2>
          <ul class="WebInforLink"> <!-- other page link -->
            <li><a href="#" style="text-decoration: none;">About diabetes</a></li>
            <li><a href="#" style="text-decoration: none;">About this website</a></li>
          </ul>
        </div>
      </div>
        <HR class="bigDisappearhr" align=center width=100% color=#E5E5E5 SIZE=10>
        <div class="leftcolum">
          <div class="AccountPart"> 
            <h2>Account</h2>
            <ul class="AccountLink"> <!-- some link anout account change password and log out -->
              <li><a href="#" style="text-decoration: none;">Reset Password</a></li>
              <li><a href="#" style="text-decoration: none;">Log Out</a></li>
            </ul>
          </div>
        </div>
        <HR class="bigDisappearhr" align=center width=100% color=#E5E5E5 SIZE=10>
        <div style="margin:30vw 30vw;">
        </div>
    </div>
  </div>
</div>
  </body>

  <footerclass="ui-footer"> <!-- the menu - it has go home button, go message page button, go more page button -->
    <HR align=center width=100% color=#7B7B7B SIZE=1>
          <div class="downnav">
          <p style="text-align: center;">
              <img src="/media/home.png" alt="Home" width="30%" height="30%"> 
          </p>

          <p style="text-align: center;">
              <img src="/media/message.png" alt="Home" width="30%" height="30%">
          </p>


          <p style="text-align: center;">
              <img src="/media/more.png" alt="Home" width="30%" height="30%">
          </p>

        
        <a href="/patient/dashboard">HOME</a>
        <a href="#">SUPPORT MASSAGE</a>
        <a href="#">MORE</a>
  </footer>
</html>