<!DOCTYPE html>
<html lang="en">
<head class="ui-head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Quattrocento Sans' rel='stylesheet'>
        <title>Diabetes@Home</title>
        <link rel="stylesheet" href="/css/patient/styles.css">
      
        <div class="header2">
            <h1>Diabete@Home</h1>
            <img src="/media/logo.png" alt="LOGO">          
              <div class="Backbutton">
                <p><a href="/patient/dashboard" style="color: white;text-decoration: none;">＜Back</a></p>
               </div>
          </div>
</head>
<body class="ui-long-content">
          
          <div class="row">     
              <div class="content4">
                <h2>MY RECORDS</h2>
          </div>
            <div class="buttonGroup4">
              <div class="hiddenimage4">
                <ul class="Page4button">
                <li class="Page4button1"><a href="#"class="button"><span>exercise</span></a></li>
                <br>
                <li class="Page4button2"><a href="#"class="button"><span>blood glucose level</span></a></li>
                <br>
                <li class="Page4button3"><a href="#"class="button"><span>weight</span></a></li>
                <br>
                <li class="Page4button4"><a href="#"class="button"><span>doses of insulin</span></a></li>
                <br>
               </ul>
             </div>
            </div>
          </div>
    </body>

    <footer class="ui-footer">
        <HR align=center width=100% color=#7B7B7B SIZE=1>
      
      <div class="downnav">
        <p style="text-align: center;">
            <img src="/media/home.png" alt="Home" width="30%" height="30%">
        </p>
        <p style="text-align: center;">
              <img src="/media/message.png" alt="Home" width="30%" height="30%">
        </p>
        <p style="text-align: center;">
              <img src="/media/more.png" alt="Home" width="30%" height="30%">
        </p>
        <a href="/patient/dashboard">HOME</a>
        <a href="#">SUPPORT MASSAGE</a>
        <a href="#">MORE</a>
      </div>
    </footer>
</html>