<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Quattrocento Sans' rel='stylesheet'>
        <title>Diabetes@Home</title>
        <link rel="stylesheet" href="/css/patient/styles.css">
    </head>

<body>

    <div class="header2">
        <h1>Diabete@Home</h1>
        <img src="media/logo.png" alt="LOGO">          
          <div class="Backbutton">
            <p><a href="patient/dashboard" style="color: white;text-decoration: none;">＜Back</a></p>
            </div>
      </div>

      <!-- this page told patient that he has already submitted the data -->
      <div class="submitted">     
        <h2>Password Changed!</h2>
        
        <p>
            <img src="media/submit.png" alt="submitted" width="200" height="200"><br>
        <!-- it is the button to return to the add records page -->
        <div class="Backbutton2">
              <a href='patient/dashboard'><span>Back</span><br></a>
        </div>

           

      </div>   


        
    </div>


     

              
</body>

<footer class="ui-footer">
  <HR align=center width=100% color=#7B7B7B SIZE=1>
        <div class="downnav">
        <p style="text-align: center;">
            <img src="media/home.png" alt="Home" width="30%" height="30%"> 
        </p>

        <p style="text-align: center;">
            <img src="media/message.png" alt="Home" width="30%" height="30%">
        </p>


        <p style="text-align: center;">
            <img src="media/more.png" alt="Home" width="30%" height="30%">
        </p>

      
        <a href="./dashboard">HOME</a>   <!-- back to main home page -->
        <a href="./supportMessage">SUPPORT MASSAGE</a>  <!-- go to support message page -->
        <a href="./more">MORE</a> <!-- Go to more page -->





</footer>
</html>
