<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Quattrocento Sans' rel='stylesheet'>
        <title>Diabetes@Home</title>
        <link rel="stylesheet" href="/css/patient/styles.css">
</head>
  <body>

    <div class="header">
        <h1>Diabete@Home</h1>
        <img src="/media/logo.png" alt="LOGO" >
      </div>


      <div class="row">
        <div class="leftcolumn">
          <div class="information">
            <h2>GOOD MORNING,</h2>
            <h3>HELLOWORLD!</h3>
            <br>
            <p>How are you today?</p>
            <HR align=center width=100% color=#224667 SIZE=1>
          </div>
          </div>
          <div class="rightcolumn">
            <div class="card">
              <div class="engagement">
                <h2>Your Overall engagement rate is</h2>
                <h3>50%</h3>
                  <div class="WellDone">                  
                  <img src="/media/well done.png" alt="Pic">
                  </div>  
                <p>Engage everyday to get the badge!
                  <br>
                  (engagement rate >= 80%)
                  </p>
                </div>
              </div>
            </div>
            <HR align=center width=100% color=#E5E5E5 SIZE=10>
          <div class="rightcolumn">
            <div class="card1">
            <div class="hiddenPicture"></div> 
            </div>
          </div>
          <div class="leftcolumn">
            <div class="buttonGroup">
              <ul class="homebutton">
                <li class="homebutton1"><a href="/patient/addDailyRecord"class="button"><span>RECORD DATA</span></a></li>
                <br>
                <li class="homebutton2"><a href="/patient/myRecords"class="button"><span>VIEW DATA</span></a></li>
                <br>
                <li class="homebutton3"><a href="#"class="button"><span>LEADERBOARD</span></a></li>
                <br>
            </ul>
          </div>
        </div>
    </div>
      
  </body>
  <footer>
          <HR align=center width=100% color=#7B7B7B SIZE=1>
      <div class="downnav">
        <p style="text-align: center;">
            <img src="/media/home.png" alt="Home" width="30%" height="30%">
        </p>
        <p style="text-align: center;">
              <img src="/media/message.png" alt="Home" width="30%" height="30%">
        </p>
        <p style="text-align: center;">
              <img src="/media/more.png" alt="Home" width="30%" height="30%">
        </p>
        <a href="/patient/dashboard">HOME</a>
        <a href="#">SUPPORT MASSAGE</a>
        <a href="#">MORE</a>
      </div>
  </footer>
</html>

