<!DOCTYPE html>
<html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
            <title>Diabetes@Home</title>
            <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
            <link href='https://fonts.googleapis.com/css?family=Quattrocento Sans' rel='stylesheet'>
            <link rel="stylesheet" href="/css/patient/styles.css">
        </head>
                <!-- header part-back button, title and logo img -->
            <header id="page-header">
                <div class="header">
                    <h1>Diabete@Home</h1>
                    <img src="/media/logo.png" alt="LOGO">          
                      <div class="Backbutton">
                        <p><a href="./home" style="color: white;text-decoration: none;">＜Back</a></p>
                       </div>
                  </div>
            </header>
    
    <body>
        <!-- login title part -->
        <div class="LoginTitle">
            <h1>LOGIN</h1>
        </div>

        <!-- input email address & password -->
        <div class="InputBox">
            {{#each flash}}
            <p class="alert">{{this}}</p>
            {{/each}}
            <form action="login" method="POST" id="loginForm">
                <p>Username</p>
                <input class="email" type="username" name="username" placeholder="Enter your Username..." required autofocus><br>
                <p>Password</p>
                <input class="password" type="password" name="password" placeholder="Enter your Password..." required autofocus><br>
              </form>
              <!-- user can choose forget password to change password-->
              <div class="forgetpassword">
                <a href="./changePassword" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">Forget your password?</a>
              </div>
        </div>

        <!-- click then login user's account -->
        <div class="LoginButton">
            <button type="submit" value="LOG IN" form="loginForm">LOG IN</button>
        </div>
        
    </body>
</html>