<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Quattrocento Sans' rel='stylesheet'>
        <title>Diabetes@Home</title>
        <link rel="stylesheet" href="/css/patient/styles.css">
    </head>

<body>

    <div class="header2">
        <h1>Diabete@Home</h1>
        <img src="/media/logo.png" alt="LOGO">          
          <div class="Backbutton">
            <p><a href="/patient/dashboard" style="color: white;text-decoration: none;">＜Back</a></p>
            </div>
      </div>


      <div class="submitted">     
        <h2>Data submitted!</h2>
        <h3>good job!</h3>
        <p>
            <img src="/media/submit.png" alt="submitted" style="text-align: center;"><br>
        <div class="Backbutton2">
              <a href='/patient/dashboard'><span>Back</span><br></a>
        </div>

            

                    
      <HR align=center width=100% color=#7B7B7B SIZE=1>


      </div>          
        <div class="downnav">
        <p style="text-align: center;">
            <img src="/media/home.png" alt="Home" width="30%" height="30%"> 
        </p>

        <p style="text-align: center;">
            <img src="/media/message.png" alt="Home" width="30%" height="30%">
        </p>


        <p style="text-align: center;">
            <img src="/media/more.png" alt="Home" width="30%" height="30%">
        </p>

      
      <a href="#">HOME</a>
      <a href="#">SUPPORT MASSAGE</a>
      <a href="#">MORE</a>
    </div>
      </div>
    </div>

              
</body>
</html>
