<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/doctor/style.css">
    <title>Diabetes@Home</title>
</head>
<body>
    <div class="header">
        <p><a href="./dashboard">
          <img src="/media/logo.png" alt="LOGO">
        </a></p>
        <nav>
            <ul>
          
            <li><a href="#">New Patient</a></li>
            <li><a href="#">Comments</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </nav>
      </div>

      <div class="registrationsuccessful">
        <div class="rsimg">
          <img src="/media/submit.png" alt="WELL DONE">
        </div>
        
         <div class="rstext">
          <P>REGISTRATION SUCCESSFUL!</P>
        </div>

        <div class="backbutton">
          <a href="./dashboard"><input type="button" value="BACK TO DASHBORD"></a>       
        </div>
        
      </div>

     
    
</body>
</html>