<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Quattrocento Sans' rel='stylesheet'>
        <title>Diabetes@Home</title>
        <link rel="stylesheet" href="/css/patient/styles.css">
    </head>
    <body class="ui-long-content">

        <div class="header2">
            <h1>Diabete@Home</h1>
            <img src="/media/logo.png" alt="LOGO">          
              <div class="Backbutton">
                <p><a href="/patient/dashboard" style="color: white;text-decoration: none;">＜Back</a></p>
               </div>
          </div>

        <!-- name of support message page -->
          <div class="row">     
            <div class="content4">
              <h2>SUPPORT MRESSAGE</h2>
          </div>
                <!-- message information-->
                <div class="bnner1">
                    <span class="topic0">FORM YOUR CLINICIAN</span>
                    <span class="content0">Diabetes is not terrible and there are many things you can do to prevent problems from diabetes, such as monitoring blood glucose, watching your diet, keeping fit,and taking pills regularly.</span>
                    <span class="time0">22/03/2022</span>
                </div>
                <hr style="height:0.8vw;background-color:gainsboro;">
                <div class="bnner1">
                    <span class="topic0">FORM YOUR CLINICIAN</span>
                    <span class="content0">Afraid of testing blood glucose because it hurts? Try to test on the sides of your fingertips or rotate your fingers, which can help to minimise pain.</span>
                    <span class="time0">22/03/2022</span>
                </div>
                <hr style="height:0.8vw;background-color:gainsboro;">
                <div class="bnner1">
                    <span class="topic0">FORM YOUR CLINICIAN</span>
                    <span class="content0">Taking diabetes medications orinjecting insulin regularly can help</span>
                    <span class="time0">22/03/2022</span>
                </div>
                <hr style="height:0.8vw;background-color:gainsboro;">                <div class="bnner1">
                    <span class="topic0">FORM YOUR CLINICIAN</span>
                    <span class="content0">Diabetes is not terrible and there are many things you can do to prevent problems from diabetes, such as monitoring blood glucose, watching your diet, keeping fit,and taking pills regularly.</span>
                    <span class="time0">22/03/2022</span>
                </div>
                <hr style="height:0.8vw;background-color:gainsboro;">
                <div class="bnner1">
                    <span class="topic0">FORM YOUR CLINICIAN</span>
                    <span class="content0">Afraid of testing blood glucose because it hurts? Try to test on the sides of your fingertips or rotate your fingers, which can help to minimise pain.</span>
                    <span class="time0">22/03/2022</span>
                </div>
                <hr style="height:0.8vw;background-color:gainsboro;">
                <div class="bnner1">
                    <span class="topic0">FORM YOUR CLINICIAN</span>
                    <span class="content0">Taking diabetes medications orinjecting insulin regularly can help</span>
                    <span class="time0">22/03/2022</span>
                </div>

                <footer class="ui-footer">
                    <HR align=center width=100% color=#7B7B7B SIZE=1> <!-- Dividing Line -->
                  
                  <div class="downnav">  <!-- button list in the menu -->
                    <p style="text-align: center;">
                    </p>
                    <p style="text-align: center;">
                          <img src="/media/message.png" alt="Home" width="30%" height="30%">
                    </p>
                    <p style="text-align: center;">
                          <img src="/media/more.png" alt="Home" width="30%" height="30%">
                    </p>
                    <a href="/patient/dashboard">HOME</a> <!-- back to main home page -->
                    <a href="#">SUPPORT MASSAGE</a>
                    <a href="#">MORE</a>
                  </div>
                </footer>        
        </html>