body {
    font-family: "Verdana", "Geneva", "Tahoma", sans-serif;
    background: #ffffff;
  }
  
  header, footer {
    text-align: center;
  }
  
  * /*all body style*/
  {
    box-sizing: border-box;
  }
  
  /* header */
  .header {
    padding: 5px;
    text-align: center;
    background: #4770AE;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  /*header's h1*/
  .header h1 {
    color: rgb(255, 255, 255);;
    font-size: 3vw;
    font-family: 'Roboto';
    display: grid;
    grid-column: 2/3;
    align-content: center;
  }
  
  /*header's LOGO img*/
  .header img{
      margin:1vw;
      margin-left:2vw;
      display: grid;
      height: 8.5vw;
      grid-column: 1/2;
      grid-row: 1/2;
  }
   
  /* content */
  .content {
    font-size: 1.5vw;
    font-family: 'Quattrocento Sans';
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* button*/
  button {
    border: 1.5vw solid #4770AE;
    background-color: #4770AE;
    font-size: 1.5vw;
    font-family: 'Roboto';
    color:#ffffff;
  }
  
  
  /* clear float */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
   
  /* menu */
  .downnav {
    margin: 0;
    display:grid;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
   
  
  /* menu link */
  .downnav a {
    float: left;
    display: grid;
    grid-row: 2/3;
    color: #000000;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Roboto';
    padding: 0px 0px;
    text-decoration: none;
  }
  
  
  /*menu img*/
  .downnav img{
    grid-row: 1/2;
    grid-column: 1/2;
    width: 3.5vw;
    height: 3.5vw;
  }
  
  
  /* Link color */
  .downnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  /* Responsive layout */
  @media screen and (max-width: 375px) {
    .header {   
      grid-area: auto;
      padding: 0;
    }    
    .downnav {   
      height: 100%;
      width: 100%;
      padding: 0;
    }
  }
  
  
  /* main page */
  /* display personal infomation */
  .personalDisplay {   
  display: flex;
  flex-direction:column;
  /* remove white line between two divs */
  margin-top:-1px;
  }
  
  /* information part */
  .information {
  background-color: #4770AE;
  padding: 20px;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
  }
  
  .information h2{
  font-size: 3vh;
  }
  
  .information h3{
  font-size: 4vh;
  text-decoration: underline;
  }
  
  .information p{
  font-size: 2.5vh;
  }
  
  /* double color background */
  .card{
  background-color: #ffffff;
  }
  
  /* engagement part */
  .engagement{
  background-color: #010101;
  padding: 20px;
  font-family: 'Quattrocento Sans';
  }
  
  .engagement h2{
  display: inline;
  color: #383D42;
  font-size: 2.5vh;
  }
  
  .engagement h3{
  display: inline;
  color: #4770AE;
  font-size: 3vh;
  }
  
  .engagement p{
  color: #424C49;
  font-size: 2vh;
  font-style: italic;
  }
  
  /* well done logo */
  .WellDone img{
  float: right;
  width: 20%;
  height: 20%;
  opacity: 0.3;
  }
  
  .leftcolumn ul {
      /* no dot */
      list-style-type: none;
  }

  .rightcolumn ul {
    /* no dot */
    list-style-type: none;
  }

  /* button part */
  .buttonGroup{
  background-color: #fbfbfb;;
  padding: 30px;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
  }
  
  .buttonGroup a {
  display: inline-table;
  color: #ffffff;
  font-size: 3vh;
  font-family: 'Roboto';
  padding: 20px 0px;
  text-decoration: none;
  }
  
  .homebutton{
      padding-inline-start: 0px;
  }
  
  /* button background color and radius*/
  .recordDataButton{
  background-color: #6AABDD;
  text-align: center;
  border-radius: 5px;
  }
  
  .viewRecordsButton{
  background-color: #13899F;
  text-align: center;
  border-radius: 5px;
  }
  
  .leadboardButton{
  border-radius: 5px;
  background-color: #38423F;
  text-align: center;
  }
  
  
  /* button animation */
  /* recordData button to recordData page */
  .recordDataButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  }
  
  .recordDataButton span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  }
  
  .recordDataButton:hover span {
  padding-right: 25px;
  }
  
  .recordDataButton:hover span:after {
  opacity: 1;
  right: 0;
  }
  
  /* viewRecords button to viewRecords page */
  .viewRecordsButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  }
  
  .viewRecordsButton span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  }
  
  .viewRecordsButton:hover span {
  padding-right: 25px;
  }
  
  .viewRecordsButton:hover span:after {
  opacity: 1;
  right: 0;
  }
  
  /* leadboard button to leadboard page */
  .leadboardButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  }
  
  .leadboardButton span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  }
  
  .leadboardButton:hover span {
  padding-right: 25px;
  }
  
  .leadboardButton:hover span:after {
  opacity: 1;
  right: 0;
  }
  
  @media screen {
      
  }
  
  /* if page's width > 800px, it will.... */
  @media screen and (min-width: 800px) {
  .WellDone img{
    width: 11vw;
    margin-right: 3vh;
    margin-top: -8vh;
  }
  /* LOGO and company name */
  .header h1{
    font-size: 1.8vw;
    text-align: left;
  }
  .row {
    padding-top: 2%;
  }
  /*header's LOGO img*/
  .header img{
    float:left;
    margin-left:13vw;
    display: grid;
    height: 3vw;
    grid-column: 1/2;
  }
  .information{
    padding-top: 15%;
    text-align: center;
  }
  .information hr {
    overflow: hidden;;
    vertical-align: bottom;
  }

  .card {
    /* remove white line between two divs */
    margin-top:-1px;
    padding: 0px;
  }
  .engagement {
    /* remove white line between two divs */
    margin-top:-1px;
    background-color: #4770ae;
    text-align: center;
  }
  .engagement h2 {
    display: grid;
    font-size: 3vh;
    color: #ffffff;
  }
  .engagement h3 {
    font-size: 5vh;
    margin: 1.5vh;
    margin-right: 3vh;
    color: #132333;
  }
  .engagement p {
    width: 100%;
    margin-right: 100%;
    font-size: 2.5vh;
    text-align: right;
    color: #ffffff;
    grid-row: 1/2;
    padding-right: 14vw;
  }
  .personalDisplay {
    float: left;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
  }
  .leftcolumn {
  width: 50%;
  float: right;
  }
  
  .rightcolumn{
    width: 50%;
    float: left;
  }
  
  /* flex format */
  .homebutton{
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  }
  
  .homebutton br {
  display: none;
  }
  
  .recordDataButton{
  height: 150px;
  width: 41%;
  padding: 0px 0;
  }
  
  .viewRecordsButton{
  height: 150px;
  width: 41%;
  padding: 20px 0;
  }
      
  .leadboardButton{
  margin-top: 5%;
  background-color: #38423F;
  height: 130px;
  border-radius: 5px;
  width: 90%;
  font-size: 10vh; /* make 'leaderboard' lower */
  }
  
  .buttonGroup a {
  font-size: 3vw;
  }
  .bigDisappearhr {
  display: none;
  }
  }
  
  /* if page's width > 1050px, it will.... */
  @media screen and (min-width: 1050px) {
   /* hidden the img*/
  .downnav img{
    display: none;
  }  
  
  }
  
  
  /* alldata page */
  /* header2 */
  .header2 {
  padding: 5px;
  text-align: center;
  background: #4770AE;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  
  /* fixed header*/
  position: fixed;
  width:100%;
  top:0;
  }
  
  /*header2's h1*/
  .header2 h1 {
  color: rgb(255, 255, 255);;
  font-size: 3vw;
  font-family: 'Roboto';
  display: grid;
  grid-column: 5/6;
  align-content: center;
  }
  
  /*header2's LOGO img */
  .header2 img{
  display: grid;
  width: 8.5vw;
  height: 8.5vw;
  grid-column: 6/7;
  }
  
  /* back button */
  .Backbutton{
  font-size: 3vw;
  font-family: 'Roboto';
  font-weight: bold;
  text-align: left;
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  }
  
  
  /* all data page */
  
  .content4 {
  background-color:#4770AE;
  color:#ffffff;
  font-family: 'Roboto';
  font-weight: bold;
  margin-top: 10vh;
  }
  
  .content4 h2{
  font-size: 5.5vw;
  text-align: center;
  }
  
  /* buttons in myRecords page */
  .myRecordsButtons{
  background-color: #fbfbfb;;
  padding: 20px;
  color: #000000;
  font-family: 'Quattrocento Sans';
  font-weight: bold;
  list-style: none;
  }

  /* Exercise part button and hidden information */
  .RecordDataE{
    background-color: #fbfbfb;
    padding-left: 20px;
    padding-right: 20px;
    color: #000000;
    font-family: 'Quattrocento Sans';
    font-weight: bold;
    list-style: none;
    text-align: left;
  }

  .RecordDataE h2{
    font-size: 5vw;
    color: #ffffff;
    background-color: #4770AE;
    padding-left: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
  }

  .RecordDataE input[type="checkbox"]{
    display: none;
  }

  .exercisePart{
    display: block;
  }
  .exerciseButton{
    overflow: hidden;
    height: 0;
  }

  .exerciseButtonTable{
    border: 1px solid #13899F;
    text-align: center;
    margin: auto;
    border-collapse: collapse;
  }

  .exerciseButtonTable th{
    font-family: 'roboto';
    font-size: 3vw;
    text-align: start;
    text-align: center;
    border: 1px solid #4770AE;
    padding: 4vw 14vw 0vw 9vw;
  }

  .exerciseButtonTable td{
    border: 1px solid #4770AE;
    font-family: 'roboto';
    font-size: 3vw;
    padding: 4vw 14vw 0vw 9vw;
  }

  /* Blood glucose level part button and hidden information */
  .RecordDataB{
    background-color: #fbfbfb;
    padding-left: 20px;
    padding-right: 20px;
    color: #000000;
    font-family: 'Quattrocento Sans';
    font-weight: bold;
    list-style: none;
    text-align: left;
  }
  .RecordDataB h2{
    font-size: 5vw;
    color: #ffffff;
    background-color: #4770AE;
    padding-left: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
  }

  .RecordDataB input[type="checkbox"]{
    display: none;
  }

  .BloodPart{
    display: block;
  }
  
  .BloodButton{
    overflow: hidden;
    height: 0;
  }

  .BloodButtonTable{
    border: 1px solid #13899F;
    text-align: center;
    margin: auto;
    border-collapse: collapse;
  }

  .BloodButtonTable th{
    font-family: 'roboto';
    font-size: 3vw;
    text-align: start;
    text-align: center;
    border: 1px solid #4770AE;
    padding: 4vw 14vw 0vw 9vw;
  }

  .BloodButtonTable td{
    border: 1px solid #4770AE;
    font-family: 'roboto';
    font-size: 3vw;
    padding: 4vw 14vw 0vw 9vw;
  }


  /* Weight part button and hidden information */
  .RecordDataW{
    background-color: #fbfbfb;
    padding-left: 20px;
    padding-right: 20px;
    color: #000000;
    font-family: 'Quattrocento Sans';
    font-weight: bold;
    list-style: none;
    text-align: left;
  }
  .RecordDataW h2{
    font-size: 5vw;
    color: #ffffff;
    background-color: #4770AE;
    padding-left: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
  }

  .RecordDataW input[type="checkbox"]{
    display: none;
  }

  .WeightPart{
    display: block;
  }

  .WeightButton{
    overflow: hidden;
    height: 0;
  }

  .WeightButtonTable{
    border: 1px solid #13899F;
    text-align: center;
    margin: auto;
    border-collapse: collapse;
  }

  .WeightButtonTable th{
    font-family: 'roboto';
    font-size: 3vw;
    text-align: start;
    text-align: center;
    border: 1px solid #4770AE;
    padding: 4vw 14vw 0vw 9vw;
  }

  .WeightButtonTable td{
    border: 1px solid #4770AE;
    font-family: 'roboto';
    font-size: 3vw;
    padding: 4vw 14vw 0vw 9vw;
  }

  /* Doses of insulin part button and hidden information */
  .RecordDataD{
    background-color: #fbfbfb;
    padding-left: 20px;
    padding-right: 20px;
    color: #000000;
    font-family: 'Quattrocento Sans';
    font-weight: bold;
    list-style: none;
    text-align: left;
  }

  .RecordDataD h2{
    font-size: 5vw;
    color: #ffffff;
    background-color: #4770AE;
    padding-left: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
  }

  .RecordDataD input[type="checkbox"]{
    display: none;
  }

  .DosesPart{
    display: block;
  }
  .DosesButton{
    overflow: hidden;
    height: 0;
  }

  .DosesButtonTable{
    border: 1px solid #13899F;
    text-align: center;
    margin: auto;
    border-collapse: collapse;
  }

  .DosesButtonTable th{
    font-family: 'roboto';
    font-size: 3vw;
    text-align: start;
    text-align: center;
    border: 1px solid #4770AE;
    padding: 4vw 14vw 0vw 9vw;
  }

  .DosesButtonTable td{
    border: 1px solid #4770AE;
    font-family: 'roboto';
    font-size: 3vw;
    padding: 4vw 14vw 0vw 9vw;
  }

  /* when click, then show information in input */
  #one:checked~label[for="one"]>ul{
    overflow: visible;
    height: auto;
  }
  #two:checked~label[for="two"]>ul{
    overflow: visible;
    height: auto;
  }
  #three:checked~label[for="three"]>ul{
    overflow: visible;
    height: auto;
  }
  #four:checked~label[for="four"]>ul{
    overflow: visible;
    height: auto;
  }

  
  /* if page's width > 800px, it will.... */
  @media screen and (min-width: 800px) {
  /* content part in center*/
  .content4 {   
    text-align: center;
  } 
  .Page4button{
    text-align: center;
  }
  /* show the pic */
  .hiddenimage4{
    display: block;
  }
  .RecordDataE,.RecordDataB,.RecordDataW,.RecordDataD{
    text-align: center;
  }

  /* add background color to h2 part*/
  .content4 h2{
    background-color:#4770AE;
  
  }
}
  
  
  
  /* data submitted */
  /* adjust to the style of the font */
  .submitted h2{
  text-align: center;
  color:#4770AE;
  font-size: 7vw;
  }
  
  .submitted h3{
  text-align: center;
  font-size: 4.2vw;
  line-height: 0.8vw;
  }
  
  .submitted p{
  display: block;
  width: 200px;
  
  text-align: center;
  left: 50%;
  margin: 0 auto;
  height: 50%;
  
  margin-top: 10vh;
  }
  
  .submitted br{
  line-height: 200px;
  }
  
  
  .Backbutton2 {
    margin-top: 8vh;
    text-align: center;
  }
  
  .Backbutton2 span{
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: roboto;
    font-size: 25px;
    background: white;
    padding: 10px 40px 10px 40px;
    border: solid #4770ae 4px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color:#4770AE;
  
  }
  
  /* header'menu */
  .header nav {
    /* border: 3px solid white; */
    line-height: 30px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 5px;
  }
  
  .header ul{
    padding-right: 25px;
  }
  
  .header nav li {
    display: inline;
    margin-left: 40px;
    margin-inline: 30px;
  }
  
  
  .header nav a {
    font-weight: bold;
    font-family: 'Scada';
    font-size: 20px;
    color: #ffffff;
    text-decoration: none; 
  }
  
  /* when click it, it will... */
  .header li a:hover{
    text-decoration: underline; 
    background-color: #4D7ABD;
    color: #ffffff;
  }
  
  
  
  /* doctor dashboard page body */
  .main {
    padding: 0px;
    text-align: center;
    font-family: "roboto", Arial, Helvetica, sans-serif;
    display: grid;
    
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,186px);
    grid-template-areas: 
        "space content space1 space2"
        "aside datatable datatable datatable"
        "aside datatable datatable datatable"
        "aside datatable datatable datatable"
        "aside attention attention attention ";
  }
  
  .aside {
    
    /* position:relative; */
    margin:0px;
    border: 0px;
    left: 200px;
    top: 200px;
    grid-area: aside;
    justify-content: center;
    align-content: center;
  }
  .aside img{
    margin: 0%;
    background: url(/media/doctoricon\ new.png);
  
    box-sizing: border-box;
  }
  .aside p {
    font-size: 60px; 
    
  }
  
  .ui-content {
      margin: 0;
      height: 100%;
      margin-bottom:80px; /* extra height add at the bottom so that the footer won't cover the content*/
  }
  
  .ui-long-content {
      margin: 0;
      margin-top:15vw; /* extra height add at the top so that the head won't cover the content*/
      margin-bottom:80px; /* extra height add at the bottom*/
  }
  
  /* fixed footer*/
  .ui-footer {
      position:fixed;
      width:100%;
      bottom:0;
  }
  
  .ui-footer hr {
      margin-block-end: 0; /* close to the header */
  }


/* the page - more page */
/* User's Logo and name part */
.UserPart{
  padding-top: 15vw;
  background-color: #4770AE;
  margin-bottom: 10vw;
}

.UserPart h2{
  font-family: 'Roboto';
  font-size: 7vw;
  color: white;
}

.UserLogo img{
  float: left;
  width: 20%;
  height: 20%;
  margin-left: 4vw;
}

/* About diabetes and this website link part */
.WebInfor h2{
  font-family: 'roboto';
  font-size: 7vw;
  font-weight: bolder;
  color: #424C49;
  text-align: left;
  margin-left: 9vw;
}

.WebInfor ul{
  font-family: 'roboto';
  font-size: 5vw;
  text-align: left;
}

.WebInfor li{
  margin-bottom: 2vw;
}


/* Account Part include reset password link & logout link */
.AccountPart{
  margin-top: 3vw;
}

.AccountPart h2{
  font-family: 'roboto';
  font-size: 7vw;
  font-weight: bolder;
  color: #424C49;
  text-align: left;
  margin-left: 9vw;
}

.AccountPart ul{
  list-style-type: none;
  font-family: 'roboto';
  font-size: 5vw;
  text-align: left;
}

.AccountPart li{
  margin-bottom: 2vw;
}

  /* if page's width > 1050px, it will.... */
  @media screen and (min-width: 800px) {
  .WebInfor,.WebInfor h2{
    text-align: center;
    margin: 0;
  }

  .AccountPart,.AccountPart h2{
    padding: 0;
    margin: 0;
    text-align: center;
  }
}

/* Reset new password */
/* reset password page */
.ChangePassTitle h1{
  font-size: 10vw;
  font-family: 'Rotobo';
  color:#4770AE;
  font-weight: bold;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

/* reset password box */
.InputBox form{
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 4vw;
  color: #38423F;
  text-align: left;
  padding-left: 8vw;
  margin-top: 10vh;
}

.InputBox p{
  margin: 0;
  margin-top: 4vw;
}

.InputBox input{
  padding: 2vw 0;
  width: 80vw;
  font-size: 3vw;
  border: 3px solid #4770AE;
}

/* password input */
.password{
  padding-left: 3vw;
  text-align: left;
}

/* new password tips part */
.PasswordTips p{
  font-family: 'Roboto';
  font-size: 3vw;
  color: #38423F;
  text-align: center;
}

/* confirm button part */
.ConfirmButton{
  padding-top: 30vw;
  padding-bottom: 20vw;
  text-align: center;
}

.ConfirmButton input{
  font-family: 'Roboto';
  font-size: 5vw;
  color: white;
  border: 3px solid;
  background-color: #4770AE;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

  /* if page's width > 1050px, it will.... */
@media screen and (min-width: 800px) {
  .InputBox form{
  text-align: center;
  padding-left: 0;
  }   
  .ChangePassTitle h1{
    padding-top: 10vw;
  }
  .ConfirmButton{
    padding-top: 10vw;
    padding-bottom: 10vw;
    text-align: center;
  }
}

/* Security information page  */
/* security information page title */
.EnterSecurityInfoTitle{
  margin-top: 20vw;
  margin-bottom: 10vw;
}

.EnterSecurityInfoTitle h1{
  font-family: 'Roboto';
  font-size: 7vw;
  font-weight: bold;
  padding-left: 4vw;
  padding-right: 4vw;
  text-align: left;
  color: #4770AE;
}

/* Input user's email address */
.SecInputBox{
  padding-left: 5vw;
  margin-top: 5vh;
}

.SecInputBox form{
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 4vw;
  color: #38423F;
  text-align: left;

}

.SecInputBox p{
  margin: 0;
  margin-top: 4vw;
}

.SecInputBox input{
  padding: 2vw 0;
  width: 90vw;
  font-size: 3vw;
  border: 3px solid #4770AE;
  margin-top: 3vw;
}

/*  add email icon before the input box*/
.UserName{
  background-size: 7vw 7vw;
  background-position: 2px 2px;
  background-repeat: no-repeat;
  padding-left: 3vw;
  text-align: center;
}

.NewPassword{
  background-size: 7vw 7vw;
  background-position: 2px 2px;
  background-repeat: no-repeat;
  padding-left: 3vw;
  text-align: center;
}

.SecretCode{
  background-size: 7vw 7vw;
  background-position: 2px 2px;
  background-repeat: no-repeat;
  padding-left: 3vw;
  text-align: center;
}

/* confirm button part */
.SecConfirmButton{
  margin-bottom: 10vw;
  margin-top: 10vw;
  text-align: center;
}

.SecConfirmButton button{
  font-family: 'Roboto';
  font-size: 5vw;
  font-weight: bold;
  color: white;
  border: 3px solid;
  background-color: #4770AE;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

  /* if page's width > 1050px, it will.... */
@media screen and (min-width: 800px) {
  .EnterSecurityInfoTitle h1{
    text-align: center;
  }
  .SecInputBox form{
    text-align: center;
  }
}

/* body and all style */
body{
  text-align: center;
  margin: 1;
  color: #BBDEF0;
}

main {
  background-color: rgb(255, 255, 255);
  background-size: cover;
}

.header{
  padding: 5px;
  text-align: center;
  background: #4770AE;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.header h1{
  color: rgb(255, 255, 255);
  font-size: 3vw;
  font-family: 'Roboto';
  display: grid;
  grid-column: 5/6;
  align-content: center;
}

.header img {
  display: grid;
  width: 8.5vw;
  height: 8.5vw;
  grid-column: 6/7;
}

.Backbutton {
  font-size: 3vw;
  font-family: 'Roboto';
  color: white;
  font-weight: bold;
  text-align: left;
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
}

/*what is diabetes part*/
nav{
  text-align: center;
}

nav h1{
  font-family: 'Roboto';
  font-size: 3vw;
  color: #424C49;
  font-weight: bold;
  text-align: center;
}

nav h2{
  font-family:'Quattrocento Sans';
  color: #383D42;
  font-size: 2.4vw;
  font-weight:bold;
  line-height: 40px;
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
}

nav h2:before,nav h2:after {
  content: "";
  flex: 1  1;
  border-bottom: 5px solid #13899F;
  margin: auto;
  margin-left: 8px;
  margin-right: 8px;
}


nav p{
  background-color: #DCEEFF;
  background-size: cover;
  padding: 20px 0px;
  background-attachment: fixed,  scroll;
  font-family: 'Quattrocento Sans';
  color: #383D42;
  font-size: 1.8vw;
  font-weight:bold;
  line-height: 40px;
  text-align:start;
}


/*dangerous of diabetes part*/
#dangerous {
  background-color: #DCEEFF;
  background-size: cover;
  padding-bottom: 20px;
}

#dangerous h2{
  background-color: #ffffff;
  padding-bottom: 20px;
  font-family:'Quattrocento Sans';
  color: #383D42;
  font-size: 2.4vw;
  font-weight:bold;
  line-height: 40px;
  position: relative;
  display: flex;
  flex-direction: row;
}


#dangerous h2:before,#dangerous h2:after {
  content: "";
  flex: 1  1;
  border-bottom: 5px solid #13899F;
  margin: auto;
  margin-left: 8px;
  margin-right: 8px;
}

#dangerous p{
  background-attachment: fixed,  scroll;
  font-family: 'Quattrocento Sans';
  color: #383D42;
  font-size: 1.8vw;
  font-weight:bold;
  line-height: 40px;
  text-align:start;
}

#dangerous iframe{ 
  position: relative;
  height: 60vw;
  width: 90vw;
}
#dangerous img{
  height: 100%;
  width: 100%;
  position:relative;
}

/*how to cure part */
#how {
  background-color: #DCEEFF;
  background-size:cover;
  padding-bottom: 20px;
  background-attachment: fixed,  scroll;
}
#how h2{
  background-color: #ffffff;
  background-size: cover;
  padding-bottom: 20px;
  font-family:'Quattrocento Sans';
  color: #000000;
  font-size: 2.4vw;
  font-weight:bold;
  line-height: 40px;
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
}


#how h2:before,#how h2:after {
  content: "";
  flex: 1  1;
  border-bottom: 5px solid #13899F;
  margin: auto;
  margin-left: 8px;
  margin-right: 8px;
}

#how p{
  font-family: 'Quattrocento Sans';
  color: #383D42;
  font-size: 1.8vw;
  font-weight:bold;
  line-height: 30px;
  text-align:start;
  text-shadow: #383D42;
}

#how img.cure{
  width: 90vw;
  height: 60vw;
  position: relative;
}

#how img.curefood{
  width: 90vw;
  height: 60vw;
  position: relative;
}

/*useful website list part*/
#usefulList h2{
  font-family:'Quattrocento Sans';
  color: #383D42;
  font-size: 2.4vw;
  font-weight:bold;
  line-height: 40px;
  position: relative;
  display: flex;
  flex-direction: row;
}
/* add two line for h2*/
#usefulList h2:before,#usefulList h2:after {
  content: "";
  flex: 1  1;
  border-bottom: 5px solid #13899F;
  margin: auto;
  margin-left: 8px;
  margin-right: 8px;
}


#usefulList p{
  padding: 5px 0px;
  font-family: 'Quattrocento Sans';
  color: #383D42;
  font-size: 2.2vw;
  font-weight:bold;
  text-align:center;
}

#usefulList ol{
  padding: 0px 20px;
}

#usefulList li{
  font-family: 'Quattrocento Sans';
  font-size: 1.8vw;
  font-weight: bold;
  display:inline-block;
  position:relative;
  color: #4770AE;
  padding: 20px 0px;
  margin: auto;
}

#usefulList a{
  text-align:center;
}

/*website overview part*/
#overview h2{
  font-family:'Quattrocento Sans';
  color: #424C49;
  font-size: 2.4vw;
  font-weight:bold;
  line-height: 40px;
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
}

#overview h2:before,#overview h2:after {
  content: "";
  flex: 1  1;
  border-bottom: 5px solid #13899F;
  margin: auto;
  margin-left: 8px;
  margin-right: 8px;
}

#overview p{
  background-color: #DCEEFF;
  background-size: cover;
  padding: 20px 0px;
  background-attachment: fixed,  scroll;
  font-family: 'Quattrocento Sans';
  color: #383D42;
  font-size: 1.8vw;
  font-weight:bold;
  line-height: 40px;
  text-align:start;
}

/*website builder table*/
#builder h2{
  font-family:'Quattrocento Sans';
  color: #424C49;
  font-size: 2.4vw;
  font-weight:bold;
  line-height: 40px;
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
}

#builder h2:before,#builder h2:after {
  content: "";
  flex: 1  1;
  border-bottom: 5px solid #13899F;
  margin: auto;
  margin-left: 8px;
  margin-right: 8px;
}

#builder table{
  font-family: 'Roboto';
  color: #38423F;
  font-size: 2vw;
  font-weight:bold;
  line-height: 4vw;   
  padding-left: 3.5vw;
  padding-bottom: 4vw;
  text-align: center;
  margin: auto;
}

#builder td{
  text-align: start;
  border: 3px solid #6AABDB;
}

/* footer - WebHome part and design */
.WebHome {
  border-top: 10px solid #E5E5E5;
  padding-top: 10px;
  padding-bottom: 10px;
}

.WebHome h2 {
  font-family:'Quattrocento Sans';
  font-size: 2.4vw;
  color:#38423F;
  font-weight: bold;
  line-height: 40px;
  margin: 0px;
}

.WebHome p{
  font-family: 'Quattrocento Sans';
  color: #383D42;
  font-size: 1.8vw;
  font-weight:bold;
  line-height: 40px;
  text-align: center;
;
}

.WebHome a {
  font-family: 'Roboto';
  font-size: 2.2vw;
  font-weight: bold;
  color: #4770AE;
}

.WebHome h3{
  font-family: 'Roboto';
  font-size: 2vw;
  font-weight: bold;
  padding: 5px;
  color: #424C49;
}


.WebHome button{
  font-family: 'Roboto';
  font-size: 2vw;
  font-weight: bold;
  padding: 10px 25px;
  border: 3px solid #6AABDD;
  background-color: #6AABDD;
  color: #ffffff;
  position: relative;

}

/* home page */
.home{
  background-color: #4770AE;
}
.homelogo{
  background-color: #4770AE;
}

/* button part */
.HomePagebuttonGroup{
  background-color: #4770AE;;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
  padding-top: 10vh;
}

.HomePagebuttonGroup a{
  display: inline-table;
  color: #ffffff;
  font-size: 5vw;
  font-family: 'Roboto';
  padding: 20px 40px;
  text-decoration: none;
  border: 3px solid #ffffff;  
  border-radius: 5px;
  margin-bottom: 30px;
}

.homePagebutton{
  display: contents; 
}

.homePagebutton1.homePagebutton2 span{
  text-align: center;
}

.homePagebutton1 span{
  margin: 5vw 5vw;
}

/* login button */
.login{
  background-color: #4770AE;;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
  padding-top: 10vh;
}

.login a{
  display: inline-table;
  background-color: #6AABDD;
  color: #ffffff;
  font-size: 5vw;
  font-family: 'Roboto';
  padding: 20px 40px;
  text-decoration: none; 
}

.login span{
  margin: 20px 20px;
}

/* footer part -- website name */
.homefooter{
  background-color: #4770AE;
  border: none;
  padding: none;
}

.footerName{
  background-color: #4770AE;
}

.footerName h1{
  color: #ffffff;
  font-family: 'Rotobo';
  font-size: 3vw;
  font-weight: bold;
  margin-top: 1.5vw;
}

/* Login page */
.LoginTitle h1{
  font-size: 12vw;
  font-family: 'Rotobo';
  color:#4770AE;
  font-weight: bold;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

/* login box */
.InputBox form{
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 4vw;
  color: #38423F;
  text-align: left;
  padding-left: 5vw;
  margin-top: 10vh;
}

.InputBox p{
  margin: 0;
  margin-top: 4vw;
}

.InputBox input{
  padding: 2vw 0;
  width: 80vw;
  font-size: 3vw;
  border: 3px solid #4770AE;
}

/* add icon to these input box */
.email{
  background-image: url(email.png);
  background-size: 7vw 7vw;
  background-position: 2px 2px;
  background-repeat: no-repeat;
  padding-left: 3vw;
  text-align: center;
}

.password{
  background-image: url(password.png);
  background-size: 7vw 7vw;
  background-position: 2px 2px;
  background-repeat: no-repeat;
  padding-left: 3vw;
  text-align: center;
}

/* forget password part */
.forgetpassword{
  font-family: 'Roboto';
  font-size: 3vw;
  color: #38423F;
}

.forgetpassword a{
  float: right;
  padding-right: 10vw;
}

/* login button part */
.LoginButton{
  padding-top: 30vw;
}

.LoginButton button{
  font-family: 'Roboto';
  font-size: 5vw;
  color: white;
  border: 3px solid;
  background-color: #4770AE;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

/* Responsive layout */
@media screen and (min-width: 800px) {
  .InputBox form{
  text-align: center;
  padding-left: 0;
  }  
}

/*leaderboard page */
.bnner{
  width: 93%;
  margin:20px auto;
  flex-direction: column;
}

.contentA{
  width: 100%;
  font-size: 2.6vw;
  color:#505050;
}

.time{
  width: 50%;
  font-size: 2vw;
  margin-left: 34.6vw;
}

.rank{
  width: 90%;
  margin:2.6vw auto 1vw;
  display: flex;
  justify-content: space-between;
}

.ranks{
  width: 100%;
  margin-top: 1vw;
  border-top: 2px solid rgba(144, 140, 140, 0.711);
  border-bottom: 1px solid rgba(144, 140, 140, 0.711);
}

.to{
  width: 100%;
  margin: auto;
  position: fixed;
  bottom:8%;
  background-color: #fff;
}

.left{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nu-a,#nu-b,#nu-c{
  color: coral;
}

.mm{
  width: 70%;
  display: flex;
  align-items: center;
}

.one{
  font-size: 2.8vw;
}

.one{
margin-left: 1.25vw;
}

.left img{
  height: 4.2vw;
}

.two{
  font-size: 1.56vw;
  color: #7B7B7B;
}

.right{
  width: 20%;
}

.right span{
  font-size: 3.1vw;
}

/* suppoert message page */
.bnner1{
  width: 93%;
  margin-bottom: 1.5vw;
  display: flex;
  flex-direction: column;
}

.d{
  width: 100%;
  height: 1vw;
  background-color:#727977 ;
}

.topic0{
  width: 100%;
  font-size: 2vw;
  font-weight: bold;
  margin-left: 1vw;
}

.content0{
  width: 100%;
  font-size: 1.8vw;
  color:#727977;
  margin-left: 1.5vw;
}

.time0{
  width: 0%;
  font-size: 2vw;
  margin-left: 66.6vw;
}



/* addRecords page*/
.patientadd {
width: 92%;
margin:1vw auto 1.1vw;
height: 27vw;
border-bottom: 0.2vw solid #E4E4E4;
}

.patientadd-a {
width: 100%;
height: 7.5vw;
display: flex;
flex-direction: column;
justify-content: space-between;

}

.patientadd-a span {
font-size: 2vw;
color: #4B6DA7;
font-weight: bolder;
}

.datadata {
width: 20vw;
height: 3.5vw;
margin-left: 38vw;
display: flex;
}
.datadata span{
font-size: 2vw;
color: black;
}
input {
width: 10vw;
height: 2.5vw;
font-size: 1vw;
caret-color: transparent;
border: 0.05vw solid #4F70A9;
outline: none;
}


.datadata span {
font-size: 1.5vw;
margin-left: 2vw;
}
textarea{
border: 0.05vw solid #4F70A9;
margin-top: 0.5vw;
width: 100%;
height: 13.4vw;
font-size: 1vw;
outline: none;

}
.button0 {
width: 100%;
margin: auto;
display: flex;
flex-direction: column;
}

.button0 span {
font-size: 1.5vw;
}

.submit-a {
width: 60%;
height: 2.05vw;
margin:1vw auto;
display: flex;
justify-content: space-between;
}

.submit-a button {
width: 9.5vw;
height: 3.05vw;
font-size: 1.8vw;
color: #fff;
border-radius: 0.36vw;
background-color: #4F70A9;
border: 0.05vw solid #4F70A9;
}
