* /*all body style*/
{
    box-sizing: border-box;
}

body{
    background: #ffffff;
    background-image: url("/media/doctor\ background.jpeg");  

}

/* header */
.header {
    padding: 0px;
    text-align: center;
    background: #4770AE;
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

/*header's LOGO img'*/
.header img{
    display: grid;
    width: 8.5vw;
    height: 8.5vw;
    grid-column: 1/2;
    grid-row: 1/2;
  }

/* header'menu */
.header nav {
    /* border: 3px solid white; */
    line-height: 30px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 5px;
}

.header ul{
    padding-right: 25px;
}

.header nav li {
    display: inline;
    margin-left: 40px;
    margin-inline: 30px;
}


.header nav a {
    font-weight: bold;
    font-family: 'Scada';
    font-size: 20px;
    color: #ffffff;
    text-decoration: none; 
 }

/* when click it, it will... */
.header li a:hover{
    text-decoration: underline; 
    background-color: #4D7ABD;
    color: #ffffff;
 }
/* doctor dashboard page body */
.main {
    padding: 0px;
    text-align: center;
    font-family: "roboto", Arial, Helvetica, sans-serif;
    display: grid;
    
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,186px);
    grid-template-areas: 
        "space content space1 space2"
        "aside datatable datatable datatable"
        "aside datatable datatable datatable"
        "aside datatable datatable datatable"
        "aside attention attention attention ";
}


 /* doctor dashboard page body left, doctor icon, doctor name */
 .aside {
    
    /* position:relative; */
    margin:0px;
    border: 0px;
    left: 200px;
    top: 200px;
    grid-area: aside;
    justify-content: center;
    align-content: center;
 }
 .aside img{
   
    /* position: absolute; */
    /* width: 257px;
    height: 292px; */
    /* float:left; */
    margin: 0%;
    background: url(./media/doctoricon\ new.png);

    box-sizing: border-box;
 }
 .aside p {
     /* float: right; */
    font-size: 60px; 
    
 }

 .content {
     font-size: 40px;
     font-weight: bold;
     grid-area: content;    
     
 }

 .content h3{
     margin-bottom: 0px;
     float: left;
 }
 .content input[id = date]{
     float: left;
     padding: 5px 10px;
     font-size:x-large;
     
 }
 /* doctor dashboard page data table */
 .datatable {
    grid-area: datatable;
    font-size: medium;
}

.datatable table {
    border-collapse: collapse;
    width: 100%;
}

.datatable th, td{
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
    padding: 15px;
}

.datatable table a {
    color: #4770AE;
    font-weight:bolder;
    text-decoration: none; 
}

.datatable table a:hover{
    color: whitesmoke;
    text-decoration: underline; 
    background-color: #4D7ABD;
    
}

/* doctor dashboard page attention info */
.attention {
    grid-area: attention;
    font-size: 36px;
    padding-right: 100px;
    color: red;
    float: left;
    justify-content: flex-start;
    
}



/*doctor patient detail page*/
/*doctor patient detail page layout*/
.container {
    padding: 0px;
    text-align: center;
    font-family: "roboto", Arial, Helvetica, sans-serif;
    display:grid;
    height: 930px;
    width: auto;
    vertical-align: middle;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-areas: 
        "space  space1 space2 backbutton"
        "name notes notes notes"
        "bgl supportMessage supportMessage supportMessage "
        "weight dailydata dailydata dailydata"
        "insulin dailydata dailydata dailydata "
        "exercise dailydata dailydata dailydata";
}


/*doctor patient detail page right-top back button */
.backbutton{
    grid-area: backbutton;
    text-align: right;
    padding-top: 20px;
    vertical-align: middle;
    
}

.backbutton a input:hover{
    background-color: white;
    color: #4770AE;
    text-decoration: underline; 
    border-color: #4770AE;
    border: #4770AE solid;
}


.backbutton input[type = button]{
   
    background-color: #4770AE;
    border:#4770AE solid;
    color: white;
    font-size: large;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
  }

/*doctor patient detail page left-top patient name*/
.pName {
    grid-area: name;
    font-size: 60px ;
    border:#4770AE solid;
    vertical-align: middle;
    padding: 30px; 
}

/*doctor patient detail page left */
.bgl {
    grid-area: bgl;
    border:#4770AE solid;
    font-size: large;
    font-weight: bold;
    text-align: left;;
    padding: 20px;
}

.weight {
    grid-area: weight; 
    border:#4770AE solid;
    font-size: large;
    font-weight: bold;
    text-align: left;;
    padding: 20px;
}

.insulin {
    grid-area: insulin;
    border:#4770AE solid;
    font-size: large;
    font-weight: bold;
    text-align: left;;
    padding: 20px;
}

.exercise {
    grid-area: exercise;
    border:#4770AE solid;
    font-size: large;
    font-weight: bold;
    text-align: left;;
    padding: 20px;
}


/*doctor patient detail page form*/
.container form input[type = checkbox] {
    width: 30px;
    height: 30px;
    clip-path: circle(36% at 50% 50%);
    position: relative;
    vertical-align: middle;
    border: #4770AE solid;
    
}


/*doctor patient detail page top rates*/
.notes{
    grid-area: notes;
    text-align: start;
    font-size: x-large;
    border:#4770AE solid;
    padding-left: 40px;
}

/*doctor patient detail page support message*/
.supportMessage {
    grid-area: supportMessage;
    border:#4770AE solid;
    text-align: start;
    font-size: x-large;
    padding-left: 40px;
}
.notes form {
    width: 100%;
    margin: 0px;
    display: inline;
    padding-left: 30px;
   
}

.supportMessage form {
    width: 100%;
    margin: 0px;
    display: inline;
    padding-left: 30px;
   
}

/*doctor patient detail page notes and support message textarea*/
textarea {
    width: 80%;
    height: 60%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    vertical-align: middle;
    font-family: "roboto";
    
}



.container a {
    position:relative;
    vertical-align: middle;
    padding-left: 80px;
}


/*doctor patient detail page data table*/
.dailydata {
    grid-area: dailydata;
    border:#4770AE solid;
    font-size: xx-large;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    
}

.dailydata table{
    position: relative;
    font-size: large;
    border-collapse: collapse;
    margin: auto;
    overflow-y: auto;
}

.dailydata th, td{
    font-size: medium;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.dailydata tbody{
    height: 400px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

/*doctor patientdetail page bottom right chartview link*/
.CHARTVIEW {
    text-align: right;
}

.datatable tbody{
    height: 500px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

.datatable thead, tbody { display: block; }

.datatable th, td{
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* add new patient page */

.newPatientInfo {

    /* info border */

    border: 2px solid;
    border-color: #4770AE;
    border-radius: 40px;

    /* font */
    font-size: 2vh;
    font-family: "roboto", Arial, Helvetica, sans-serif;

    /* box */
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 15vh;
    padding: 5vh;
    
}

/* submit button */
.newPatientInfo input[type=submit] {
    
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      
}
.newPatientInfo legend{
    font-size: 4vh;
    text-align: center;
}

/* cancel button */
.newPatientInfo input[type=button] {
    
    width: 100%;
    background-color:#ffffff;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    cursor: pointer;
  
}

/* text and password input area */
.newPatientInfo input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.newPatientInfo input[type=submit] :hover {
    background-color: #45a049;
}

/* gender check */
.newPatientInfo input[type=radio]{
    margin-left: 2vw;
   
}

/* 
doctor registration successful page
*/

.registrationsuccessful {
    padding-top: 20vh;
    text-align: center;
    font-family: "roboto", Arial, Helvetica, sans-serif;
    display: grid;
    
    grid-template-rows: repeat(3,1fr);
    
    grid-template-areas:
        "rsimg "
        "rstext"
        "backbutton";
    
    
}

.rstext{
    grid-area: rstext;
    margin-top: 4vh;
    font-size: xx-large;
}

.registrationsuccessful .backbutton{
    grid-area: backbutton;
    text-align: center;

}

/* comment lists page */

.commentslist{
    margin-top: 10vh;
    font-family:"roboto", Arial, Helvetica, sans-serif;
    font-size: large;
}
.commentslist .commentrecord{
    border: #4770AE 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    font-size: large;
}

/* support message history */
.supportmessagehistory{
    margin-top: 10vh;
    font-family:"roboto", Arial, Helvetica, sans-serif;
    font-size: large;

}
.supportmessagehistory p {
    font-size: xx-large;
    color: #4770AE;
}
.supportmessagerecord{

    border: #4770AE 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    font-size: large;
}

.supportmessagerecord p {
    font-size: large;
    color: black;
}

/* notes history */
.noteshistory{
    margin-top: 10vh;
    font-family:"roboto", Arial, Helvetica, sans-serif;
    font-size: large;

}
.noteshistory .patientnotes{
    font-size: xx-large;
    color: #4770AE;
}
.noterecord{

    border: #4770AE 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    font-size: large;
}


 

